header {
    display: flex;
    border: 1px solid rgb(210, 200, 200);
    width: 100%;
    height: 66px;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
}
#menu{
    width: 50px;
}
.logo p {
    font-size: 25px;
}

.logo img {
    width: 70px;
    height: 50px;
}

.search_bar {
    display: flex;
    align-items: center;
    position: relative;
    /* left: 80px; */
    /* display: inline-block; */
}

.search_bar input[type="text"] {
    width: 600px;
    height: 50px;
    align-items: center;
    left: 100px;
    background-color: rgb(243, 246, 248);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 4px 3px 4px 30px;
    /* border: 1px solid #ccc; */
    font-size: 15px;
}

#search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

#search-icon i {
    font-size: 20px;
}

#clear-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid red; */
    width: 300px;
    margin-left: 0px;
}

.list_icons {
    width: 140px;
    display: flex;
    justify-content: space-between;
    /* border: 3px solid red; */
    /* gap: 10px; */
}

.list_icons img {
    width: 30px;
    height: 30px;
}

.right_icons {
    width: 80px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red */
}

.right_icons img {
    width: 30px;
    height: 30px;
}

.profile_pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side_nav {
   width: 60px;
    height: 100%;
    position: fixed;
    top: 80px;
    left: 0;
    /* background-color: #cac8c8; */
    /* padding: 30px 15px; */
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    /* align-items: center; */
    transition: width 0.5s;
}

ul {
    list-style: none;
    padding: 0 15px;
}

ul li{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
ul li img{
    width: 30px;
    margin-right: 0;
}

ul li p{
    white-space: nowrap;
    display: none;
}
.side_nav:hover{
    width: 200px;
}
.side_nav:hover ul li p{
    display: block;
}
.side_nav:hover ul li img{
    margin-right: 10px;
}
.side_nav:hover ul li {
    justify-content: flex-start;
}